# PyCharm files
.idea/

#VS Code files
.vscode/

#Pytest files
.pytest_cache/

#pipenv lock file
.lock

# Mac Temp Files
.DS_Store

# Python temp files
*.pyc

#Our Log Files
*/logs/
logs/
*.log
*.avi

#Output files from unit tests
resources/tests/output/* 
!resources/tests/output/.keep 

#Coverage files
*.coverage
