#
# Mars Rover Design Team
# .gitignore
#
# Created on Feb 06, 2017
# Updated on Aug 21, 2022
#

# PyCharm files
.idea/

# Pytest files
.pytest_cache/

# Mac Temp Files
.DS_Store

# Python temp files
*.pyc

# Autonomy Log Files
*/logs/
logs/
*.log
*.avi

# Output files from unit tests
resources/tests/output/* 
!resources/tests/output/.keep 

# Coverage Files
*.coverage

# Web Output Files
*.html
