[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
simplejson = "*"
pynmea2 = "*"
serial = "*"
matplotlib = "*"
pyfakewebcam = "*"
pyyaml = ">=5.4"
numpy = "==1.22.0"
snakeviz = "*"
geopy = "==1.23.0"
rich = "*"
gmplot = "*"

[dev-packages]
opencv-contrib-python = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"
pandas = "*"
