[requires]
python_version = "3.8"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"   
verify_ssl = false

[packages]
simplejson = "*"
pynmea2 = "*"
serial = "*"
matplotlib = "*"
pyfakewebcam = "*"
pyyaml = ">=5.4"
numpy = "==1.22.0"
snakeviz = "*"
geopy = "==1.23.0"
rich = "*"
gmplot = "*"
opencv-python = "*"
opencv-contrib-python = "*"
torch = "*"
torchvision = "*"
pandas = "*"
tdqm = "*"
seaborn = "*"
utm = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"
pandas = "*"
