[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
opencv-contrib-python = "*"
simplejson = "*"
pynmea2 = "*"
serial = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
matplotlib = "*"
pyyaml = "*"
pyfakewebcam = "*"
gmplot = "*"
osmviz = "*"
pygame = "*"
mypy = "*"
pandas = "*"
numpy = "==1.19.3"
geopy = "==1.23.0"
snakeviz = "*"
pyyaml = "*"
rich = "*"

[packages]
simplejson = "*"
pynmea2 = "*"
serial = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
matplotlib = "*"
pyfakewebcam = "*"
pyyaml = "*"
numpy = "==1.19.3"
snakeviz = "*"
geopy = "==1.23.0"
rich = "*"
