name: Autonomy Unit Tests

on:
  push:
    branches-ignore:
      - dev
      - release/testing
      - release/competition
  pull_request:
    branches:
      - dev
      - release/testing
      - release/competition


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: "recursive"
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies with pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install -d 
    - name: Unit and coverage test with pytest (excludes tests not in the tests/ folder)
      run: |
        pipenv run pytest -v --cov=../Autonomy_Software tests/

